@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow-x: hidden;
}
.slider {
    height: 100vh;
    .slide {
    left: 0px;
    overflow: hidden;

    // z-index: -1;
    right: 0px;
    margin: auto;
    margin-top: 30vh;
    height: 100vh;
    background-size: cover;
    background-position: center;
    animation: slider 12.5s infinite;
    .welcome {
      text-align: center;
      background-color: rgba(0, 0, 128, 0.5);
      font-size: 1rem;
      width: 50%;
      position: absolute;
      min-height: 30vh;
      top: 30%;
      padding: 15px 20px;
      right: 50%;
      transform: translate(50%);
      h2 {
        font-weight: bold;
      }
    }
   
    &:nth-child(1) {
      background-image: url("../src/assets/saint-anselm-colleges-982688.jpg");
      animation-delay: 0s;
    }
  
    
      &:nth-child(2) {
        background-image: url("../src/assets/front-view-stacked-books-graduation-cap-diploma-education-day.jpg");
        animation-delay: -2.5s;
      }
    &:nth-child(3) {
      background-image: url("../src/assets/library-488678.jpg");
      animation-delay: -5s;
    }
    &:nth-child(4) {
      background-image: url("../src/assets/science-1182713.jpg");
      animation-delay: -7.5s;
    }
    &:nth-child(5) {
      background-image: url("../src/assets/medium-shot-people-graduating.jpg");
    animation-delay: -10s;
  }
  }
  }
  
  @keyframes slider {
    0%, 16%, 100% {
      transform: translateX(0);
      animation-timing-function: ease;
    }
    20% {
      transform: translateX(-100%);
      animation-timing-function: step-end;
    }
    96% {
      transform: translateX(100%);
      animation-timing-function: ease;
    }
  }
  .margin-top {
     margin-top: 90vh;
  }
  .footer {
    margin-top: 100vh;
  }

  .pageTitle{
    background-image: url('./assets/page-title.jpg');
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
    background-color: rgba(0, 0, 0, 0.8);
    // margin-bottom: 5em;
  }
  .formContainer{
      min-width: 50%;
      border-left: 3px solid rgb(251 146 60);
      padding: 0 3em;
    h1{
      margin-bottom: 1em;
    }
    @media (max-width:998px) {
      padding: 0px 1em 0px 0px;
      border: none;
      width: 50%;

    }
  }
  .formControl{
    width: 100%;
    justify-content: space-between;
    gap: 1em;
    padding: .7em 0;
    input{
      border: 2px solid lightgrey;
      width: 16em;
      padding: .5em 1em;
      @media (max-width:998px) {
        width:100%;
      }
    }
    input:focus{
     border: 2px solid rgb(251 146 60) !important;
    }
    label{
      font-size: 0.9em;
      line-height:2em;
    }
  }
  .formBtn{
      
      padding: .8em;
      font-weight: 500;
      border: 1px solid rgb(251 146 60);
      &:nth-child(2){
      background-color: rgb(253, 247, 239);
      font-size: .85em;
      width: 12em;
      margin-top: 2em
    }
      &:nth-child(1){
      background-color: rgb(251 146 60);
      width: 10.5em;
      margin-top: 1.75em
    }
  }

  .fieldSet{
    input{
      width: 1em;
      height: 1em;
    }
    .flex{
      margin-top: .3em;
      gap: .3em;
      align-items: center;
    }
    font-size: .875em;
    margin-top: 1.5em;
  }
  .checkIn{
    input{
      width: 1em;
      height: 1em;
    }
    margin-top: 2em;
    gap: .3em;
    align-items: flex-start;
    font-size: .85em;
    font-weight: 500;
  }
  .loginContainer{
    display: flex;
    flex-direction: column;
    gap: 1.3em;
    width: 35%;
    padding: 0px 2em;
    text-align: center;
    justify-content: center;
    input{
      min-width: 100%;
      border: 2px solid lightgrey;
      padding: 1em 1em;
      text-align: center;
      border: 1px solid rgb(251 146 60);
      background-color: rgb(252, 249, 246);
      &::placeholder{
        font-size: large;
      }
    }
    button{
      padding: .8em;
      font-weight: 500;
      border: 1px solid rgb(251 146 60);
      background-color:rgb(251 146 60) ;
      width: 100%;
    }
    p{
      margin-bottom: .5em;
    }
    @media (max-width:998px) {
      width: 50%;
    }
  }

  .authContainer{
    @media (max-width:768px) {
      flex-direction: column;
      gap: 8em;
      form{
        width: 100%;
        padding: .5em;
        .formControl{
          input{
            min-width: 20em;
            @media (max-width:690px) {
              min-width: 18em;
            }
           
          }
          @media (max-width:626px) {
            flex-direction: column;
            input{
              width: 100% !important;
            }
          }
        }
        
      }
    }
  }